@import "tailwindcss";
@config "../../tailwind.config.ts"; /* This tells v4 to use our custom color palette */

/* Optional: Custom scrollbar styling for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c1e3c1; /* evergreen-900 */
  border-radius: 10px;
}